@page "{id}"
@model BlogPhone.Pages.admin.ReferralChangeModel
@{
    ViewData["Title"] = "Изменить рефералку";
}

<hr />

<h1>Информация о рефералке:</h1>

<form method="post" asp-antiforgery="true">
    <label asp-for="Referral!.Id"></label>
    <input asp-for="Referral!.Id" readonly/><br /><br />

    <label asp-for="Referral!.Code"></label>
    <input asp-for="Referral!.Code"/><br /><br />

    <label asp-for="Referral!.InvitedUsers"></label>
    <input asp-for="Referral!.InvitedUsers"/><br /><br />

    <button type="submit">Сохранить</button><br /><br />
</form>

<hr />

<h1>Информация о владельце:</h1>

<label asp-for="Referral!.UserId"></label>
<input asp-for="Referral!.UserId" readonly/><br /><br />

<label asp-for="ReferralUser!.Name"></label>
<input asp-for="ReferralUser!.Name" readonly/><br /><br />

<label asp-for="ReferralUser!.Email"></label>
<input asp-for="ReferralUser!.Email" readonly/><br /><br />

<a asp-page="/admin/referralChange" asp-route-id="@Model.Referral!.Id"></a>

<hr />